@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout-grid {
  display: grid;
  grid-template-rows: 120px auto;
}

.story-block {
  @apply bg-dark2-light;
  @apply rounded;
  @apply p-4;
  @apply bg-opacity-50;
  @apply shadow-sm;
  backdrop-filter: blur(5px);
  text-align: left;
}